[Unit]
Description=StartUp the data sender Node
After=network.target

[Service]
ExecStart=/usr/bephantbr-indurad-quanyx-service/dataSenderStartup.sh

[Install]
WantedBy=multi-user.target