[Unit]
Description=Automatically update environment
After=network.target

[Service]
ExecStart=/usr/bephantbr-indurad-quanyx-service/updater.sh

[Install]
WantedBy=multi-user.target