<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- pcl_viewer Node -->
    <arg name="useDisp2Pcl" default="false"/>
    <arg name="useColorMap" default="false"/>
    <arg name="whiteFilter" default="false"/>
    <arg name="filterLevel" default="255"/>
    <node name="pcl_viewer" pkg="pcl_viewer" type="pcl_viewer" output="screen">
    </node>
    <group if="$(arg useDisp2Pcl)">
        <node name="disp_to_pcl" pkg="disp_to_pcl" type="disp_to_pcl" args="$(arg useColorMap) $(arg whiteFilter) $(arg filterLevel)" output="screen">
        </node>
    </group>
 
</launch>