<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <!-- RVIZ-->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find omega_camera)/rviz/omega.rviz" />

    <!-- Omega Camera Node -->
    <arg name="camera_name" default="head-T-SY-17-05-005.local"/>
    <node name="omega_camera_1" pkg="omega_camera" type="omega_camera_node" args="$(arg camera_name)" output="screen" respawn="true">
    </node>

    <!-- Static Transforms Publisher -->
     <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_omega_cam_tf" args="0 0 1 1.5708 0 -1.5708 base_link omega_cam" />

</launch>